
@import "@/assets/dataTable.scss";

$color-font: #2c3e50;
$color-primary: #0066FA;
$color-white: #fff;
$color-divider: lighten($color: #A1A6B4, $amount: 25);

html,body {
  margin: 0;
}
#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-font;
}
.content {
  width: 80%;
  margin: 0 auto;
}
a {
  color: $color-font;
}
header{
  background-color: $color-primary;
  height: 250px;
  .brand {
    color: $color-white;
    text-transform: capitalize;
    padding: 1rem 0;
  }
}

.home {
  padding: 2rem 0;
  margin-top: -20vh;
}
.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  padding: 1rem 0;
  grid-gap: 30px;
  @media (max-width: 599px) {
    grid-gap: 60px;
  }
  @media (max-width: 1680px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
  }
}
.filter {
  background-color: $color-white;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  grid-column-end: span 2;
  position: relative;
  overflow: hidden;
  &.search-by {
    select {
      border: none;
      padding: 1.5rem;
      background-color: transparent;
      @media (max-width: 1680px) {
        border-bottom: 1px solid $color-divider;
        width: 100%;
      }
    }
  }
  input {
    height: 97%;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    border-right: 1px solid $color-divider;
    @media (max-width: 1679px) {
      height: auto;
      width: 100%;
      border-right: none;
      padding: 1rem;
      &:first-child {
        border-bottom: 1px solid $color-divider;
      }
    }
  }
  .clear > button {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: #030472;
    cursor: pointer;
    outline: none;
  }
  &::before {
    content: attr(data-label);
    position: absolute;
    top: -30px;
    color:$color-white;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media (max-width: 599px) {
      color: #2a2a2a;
    }
  }
}
input {
  padding: 1.5rem;
  &[type="search"] {
    background-color: #fff;
    outline: none;
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
  &[type="number"], &[type="date"] {
    outline: none;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

// ====== FLOATING BUTTONS === /
.btn {
  border: none;
  background-color: $color-white;
  padding: 0.5rem;
  outline: none;
  &.primary {
    background-color: $color-primary;
  }

  &.floating {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;

    .icon path {
      fill: $color-white;
    }
  }

  &.bottom-right {
    bottom: 10%;
    right: 5%;
  }
}

.shadow {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}